<ion-app>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/training-videos"></ion-back-button>
    </ion-buttons>
    <ion-title size="small">{{training_video_data?.training_video?.title}}</ion-title>
  </ion-toolbar>
</ion-header>
 



<ion-content   class="ion-padding"> 

<div id="skeleton" *ngIf="!training_video_data?.training_video">

  <div class="  custom-skeleton">

    <ion-thumbnail slot="start" animated style="width: 100%;height:400px">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
 
  </div>

   
</div>


<div id="embed_iframe">
 
 

</div>




<br>

<ion-list style="width:100%">
          
          <ion-item  lines="none"  *ngFor="let video of related_training_videos" style="width:100%"   
           (click)="videoDetail(video?.tv_id)"  >
            
            
                  
            <ion-card button class="ion-no-padding" style="width:100%"  >

<ion-row style="width:100%">

 
  <ion-col>

 <ion-item lines="none" style="padding-top: 3px;">


<ion-row>   
 
 <ion-col size="12">
 <h5> {{video?.title}} </h5> 
 </ion-col>


 <ion-col size="12">
  <div style="font-size:12px;margin-top: 8px;">  App Training : {{video?.duration}} mins </div>
 </ion-col>


 </ion-row>


   </ion-item>


 
  
  </ion-col>



    <ion-col  size="4" *ngIf="video?.cover_photo" class="cat_list_first ion-no-padding">
         <img class="cat_list_first_img" [src]="video?.cover_photo" *ngIf="video?.cover_photo != 'N/A'">
  

  </ion-col>



</ion-row>



  
 
</ion-card>

      

 


          </ion-item>

        </ion-list>




</ion-content>	

 




   

 
 
</ion-app>

 